@import 'config.scss';
@import 'utilities.scss';
@import 'form.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
  z-index: 1;
  box-shadow: $shadow-2;

  ul {
    display: flex;
  }

  a {
    padding: 0.25rem;
    margin: 0 0.25rem;

    &:hover {
      color: $light-color;
    }
  }
}
// Landing

.landing {
  position: relative;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 80%;
    color: $light-color;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
