@import 'config.scss';
@import 'utilities.scss';
@import 'form.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $dark-color;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  width: 100%;
  z-index: 1;
  box-shadow: $shadow-2;
  transition: all 0.2s ease-in;

  ul {
    display: flex;
  }

  a {
    padding: 0.25rem;
    margin: 0 0.25rem;
    transition: all 0.2s ease-in;

    &:hover {
      color: #fff;
    }
  }
}
// Landing

.landing {
  position: relative;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;

  &__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 80%;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

// Profiles page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 1rem;
  line-height: 1.8;
  box-shadow: $shadow-1;
  background: $light-color;
}

// Profile Page

.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .sns-icons a {
      color: #fff;
      margin: 0 0.25rem;

      &:hover {
        color: lighten($dark-color, 20%);
        transition: all 0.2s ease-in;
      }
    }
  }

  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .profile-exp {
    grid-area: exp;
  }

  .profile-edu {
    grid-area: edu;
  }

  .profile-exp,
  .profile-edu {
    & > div {
      margin-bottom: 1rem;
      border-bottom: dotted 1px $primary-color;
      padding-bottom: 1rem;
    }

    & > div:last-child {
      border: 0px;
      padding-bottom: 0rem;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;
  }
}
